@mixin row {
    
    &::after {
        display: table;
        content: '';
        clear: both;
    }
    
}

@mixin col($i) {
    width: 10% * $i;
    float: left;
}

@mixin offset($n) {
    margin-left: 10% * $n;
}

@mixin col-six($m) {
    width: 16.66% * $m;
    float: left;
}

