.breadcrumbs {
    @include row;
    %separator {
        display: block;
        content: '';
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        right: 15px;
        transform: rotate(45deg);
        border-top: 1px solid #979797;
        border-right: 1px solid #979797;
    }
    &__item {
        @include col(2);
        font-size: 12px;
        color: #979797;
        position: relative;
    }
    &__item\--billing {
        text-align: right;
        padding-right: 11%;
        
        &::after {
            @extend %separator;
        }
    }
    &__item\--shipping {
        @include offset(1);
        &::after {
            @extend %separator;
        }
    }
}