.content {

    &__form {        
        width: 100%;
    }

    &__order-summary {
        width: 100%;
    }

    @media (min-width: 780px) {        
        
        &__form {
            width: 400px;
            float: left;
        }
        &__order-summary {
            width: 300px;
            float: left;
        }

        &::after {
            display: table;
            content: '';
            clear: both;
        }
    }

    
}