.content {
    
    &__form {
        width: 100%;
        @include row;
        background-color: white;
        padding-top: 23px;
    }
    &__order-summary {
        width: 100%;
    }
    @media (min-width: 780px) {
        margin-top: 45px;
        height: 597px;
        box-shadow: 0 2px 18px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        &__form {
            width: 400px;
            float: left;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            height: 100%;
        }
        &__order-summary {
            width: 300px;
            float: left;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            height: 100%;
        }
        &::after {
            display: table;
            content: '';
            clear: both;
        }
    }
}