.page {
    background-color: #e6e9f0;
    height: 100%;
    &__header {
        height: 50px;
    }
    &__content {
        margin-left: auto;
        margin-right: auto;
    }
    @media (min-width: 780px) {
        &__content {
            width: 700px;
        }
    }
}