.secure-payment {
    color: $grey-placeholder;
    font-size: 15px;
    line-height: 26px;
    padding-left: 25px;
    margin-bottom: 20px;
    background: url("../img/check.svg") left 10px bottom 2.5px no-repeat, 
    url("../img/circle.svg") left 8.2px bottom no-repeat,
    url("../img/lock.svg") left no-repeat;
}