
@font-face {
    font-family: "Fira Sans";
    src: url("../fonts/fira_sans_extra_condensed/FiraSansExtraCondensed-Regular.woff2") format("woff2"),
    url("../fonts/fira_sans_extra_condensed/FiraSansExtraCondensed-Regular.woff") format("woff"),
    url("../fonts/fira_sans_extra_condensed/FiraSansExtraCondensed-Regular.ttf") format("truetype"),
    url("../fonts/fira_sans_extra_condensed/FiraSansExtraCondensed-Regular.eot") format("eot");
    font-weight:normal;
    font-style:normal;
}


$purple: #5a1094;
$grey-placeholder: #6b6b6b;
$grey-order-summary: #777879;
$tablet: 780px;

html {
    font-family: "Fira Sans";
    font-size: 16px;
    height: 100%;
}

body {
    background-color: #e6e9f0;
    padding: 0;
    margin: 0;
    height: 100%;
    line-height: 1.2;
    
}

*, *::after, *::before {
    box-sizing: border-box;
}