@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}


$purple: #5a1094;
$grey-placeholder: #6b6b6b;
$grey-order-summary: #777879;
$tablet: 780px;

html {
    font-family: "Helvetica Neue";
    font-size: 16px;
    height: 100%;
}

body {
    background-color: #e6e9f0;
    padding: 0;
    margin: 0;
    height: 100%;
    line-height: 1.2;
    
}

*, *::after, *::before {
    box-sizing: border-box;
}